<body>
    <%- include('partials/header.ejs') %>
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Little about this ppage</h1>
                <p class="col-md-8 fs-4">I love reading books.So I just wanted to create a space, where I can write reviews on my books.
                    And also I want to put my backend postgres,js and ejs skills into action. So, here I am.
                </p>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>

</body>